body
{
	background-color: #D8D8D8;
}

div#bar
{
	position: fixed;
	top: 0%;
	left: 0%;
	
	width: 100%;
	height: 50px;
	z-index: 1;
	
	background-color: #006699;
}

div#container
{
	position: absolute;
	left: 25%;
	
	width: 30%;
	height: auto;
	z-index: 0;
	
	margin-top: 50px;
}

div#post_write
{
	position: relative;
	border: 3px solid white;
	
	text-align: right;
	padding: 5px;
}

textarea#post_msg
{
	width: 100%;
	height: 100px;
	
	display: block;
}

input[type='submit']
{
	margin-top: 2%;
}

div#post_comment
{
	position: relative;
	height: auto;
	min-height: 100px;
	max-height: 300px;
	
	border: 3px solid white;
	background-color: white;
	margin-top: 5%;
	
	overflow-y: auto;
	overflow-x: hidden;
}

div#post_print
{
	margin: 5px 5px 10px 5px;
	color: #0033CC;
}

div#comment_print
{
	margin: 20px 5px 20px 5px;
	color: #0099FF;
}

span#line
{
	position: absolute;
	height: 1px;
	width: 100%;
	
	background-color: grey;
}

textarea#comment_msg
{
	width: 100%;
	height: 50px;
}

div#bar a
{
	position: relative;
	top: 20%;
	left: 70%;
	margin-right: 20px;
	
	text-decoration: none !important;
	color: white;
	font-size: 20px;
}